:root {
    --smallHeight: 25px;
    --normalHeight: 75px;
    --doubleNormalHeight: 150px;
    --largeHeight: 450px;
    --spacingSize: 10px;
    --gapSize: 20px;
}

div:empty {
    display:none;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto auto;
    grid-auto-flow: row;
    justify-items: center;
}

#b_header {
    grid-column: 1/4;
    grid-row: 1;
    height: var(--normalHeight);
    width: 100%;
    background-color: pink;
}

.sidebar {
    grid-column: 1;
    grid-row: 2;
    height: var(--normalHeight);
    width: 95%;
}

#a_sidebar {
    background-color: red;
}

#f_sidebar {
    margin-top: var(--normalHeight);
    background-color: purple;
}

#g_sidebar {
    margin-top: var(--doubleNormalHeight);
    background-color: gray;
}

#c_main_content {
    grid-column: 2/4;
    grid-row: 2/5;
    height: var(--largeHeight);
    width: 95%;
    background-color: lightblue;
}

#d_ultrawide {
    grid-column: 1/4;
    grid-row: 5;
    height: var(--normalHeight);
    width: 100%;
    background-color: yellow;
}

#e_afterthought {
    grid-column: 2/4;
    grid-row: 6;
    height: var(--smallHeight);
    width: 95%;
    background-color: black;
    color: white;
}


@media screen and (max-width: 600px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto auto auto;
    }

    .sidebar {
        width: 100%;
    }

    #a_sidebar {
        grid-column: 1;
        grid-row: 1;
    }

    #b_header {
        grid-column: 1;
        grid-row: 2;
    }

    #c_main_content {
        grid-column: 1;
        grid-row: 3;
        width: 100%;
    }

    #d_ultrawide {
        grid-column: 1;
        grid-row: 4;
    }

    #e_afterthought {
        grid-column: 1;
        grid-row: 5;
        width: 100%;
    }

    #f_sidebar {
        grid-column: 1;
        grid-row: 6;
        margin-top: 0;
    }

    #g_sidebar {
        grid-column: 1;
        grid-row: 7;
        margin-top: 0;
    }
}
